:root {
  --el-menu-hover-bg-color: #cde5fc;
  --el-color-primary-light-9: #cde5fc;
  --el-color-primary: #004d94;
  --el-color-primary-light-3: #326dc5;
  --el-color-primary-dark-2: #326dc5;
  --el-color-primary-light-7: #cde5fc;
  --el-component-size: 36px;
  --el-button-disabled-bg-color: #326dc5;
  --el-button-disabled-border-color: #326dc5;
}
.el-button.is-disabled,
.el-button.is-disabled:hover {
  background-color: #e5e8ee10;
  border-color: #e5e8ee;
  color: #e5e8ee;
}
.el-tooltip__trigger:focus-visible {
  outline: unset;
}
.tabbar_box {
  display: flex;
  align-items: center;
  border: solid 1px #276aa8;
}
.tabbar_box .tabbar_item {
  width: 140px;
  height: 36px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #004d94;
  cursor: pointer;
  border-right: solid 1px #276aa8;
}
.tabbar_box .tabbar_item:last-child {
  border-right: none;
}
.tabbar_box .active {
  background-color: #004d94;
  color: #ffffff;
}
.edit_box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  width: 60px;
}
.edit_box .edit_icon {
  width: 20px;
  height: 20px;
}
.edit_box .edit_text {
  font-size: 14px;
  color: #004d94;
  margin-left: 10px;
}
.add_box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  width: 120px;
}
.add_box .add_icon {
  width: 21px;
  height: 21px;
}
.add_box .add_text {
  font-size: 14px;
  color: #004d94;
  margin-left: 10px;
}
/* 表格样式 */
.table_box {
  margin-top: 20px;
  z-index: 1;
}
.table_box .el-table {
  --el-table-header-bg-color: #f8faff;
  border-top: 1px solid #f8faff;
}
.table_box .el-table__header {
  height: 50px;
}
.table_box .el-table__header .cell {
  font-size: 14px;
  color: #666666;
  padding: 0 20px;
}
.table_box .el-table__row {
  height: 50px;
}
.table_box .el-table__row .cell {
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.table_box .el-table__cell {
  position: static !important;
}
/* 分页样式 */
.pagination_box {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pagination_box .total {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}
.pagination_box .el-pagination {
  --el-fill-color: #ffffff;
  --el-color-primary: #004d94;
  /* 分页选中的背景色 */
}
.pagination_box .el-pagination li {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}
.pagination_box .el-pagination .btn-prev,
.pagination_box .el-pagination .btn-next {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}
.sort_icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
